<!-- ko with: home -->
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is a sample Single Page Application using knockout.js, that allows the user to create a login account for a website.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>       
        <p data-bind="text: myHometown"></p>
    </div>
</div>
<!-- /ko -->
